In [1]:
import pandas as pd

In [3]:
data1={
    'ID':["BOO1","BOO2","BOO3","BOO4","BOO5"],
    'STUDENTS':["MUSA S","GOLD K", "MAINA J","FATMA A","ALI M"],
    'REG':[123,456,789,987,654]
}

df1=pd.DataFrame=(data1)
df1

{'ID': ['BOO1', 'BOO2', 'BOO3', 'BOO4', 'BOO5'],
 'STUDENTS': ['MUSA S', 'GOLD K', 'MAINA J', 'FATMA A', 'ALI M'],
 'REG': [123, 456, 789, 987, 654]}

In [5]:
data2={
    'ID':["BOO6","BOO7","BOO8"],
    'STUDENT':["MOHA A","CESS M","BONI D"],
    'REG':[321,967,365]
    
}
df2=pd.DataFrame(data2)
df

TypeError: 'dict' object is not callable